body {
  background: url("../img/showcase4.jpeg") center center/cover no-repeat;
  background-attachment: fixed;
  position: relative;
  height: 100vh; }
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    background-attachment: fixed;
    z-index: -1; }

.back {
  color: white;
  padding: 20px; }
  .back a {
    color: white; }

.emptycard {
  margin: 20px;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333; }

.emptycard-nocard {
  margin: 15px;
  background-color: transparent;
  padding: 10px; }

.card {
  margin: 15px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px; }

#projects {
  display: flex; }

#project-creator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0; }

#projects-list {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 1fr; }

#project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

#contact {
  width: 60%;
  padding: 30px; }

#github {
  margin-top: 20px; }
  #github i {
    opacity: 0.5; }
  #github:hover i {
    opacity: 1; }

#sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */ }

#resume {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #resume div {
    width: 100%; }

.list ul {
  display: flex;
  flex-wrap: wrap; }
  .list ul li {
    font-weight: bold;
    margin: 5px;
    border: 1px solid #f4f4f4;
    padding: 1px 10px;
    border-radius: 200px;
    min-width: 70px;
    text-align: center; }
    .list ul li:hover {
      color: #ffbc00;
      border: 1px solid #ffbc00;
      opacity: 0.8; }

#work-card {
  margin-bottom: 30px; }
